body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background: linear-gradient(180deg, #0e0e0e, #1b1b1b);
  color: #f5f5f5;
  padding: 20px;
}
.item img {
  width: 100%;
  height: 450px;
  object-fit: cover;
  border-radius: 12px;
  margin-bottom: 12px;
}

.title {
  text-align: center;
  font-size: 38px;
  letter-spacing: 3px;
  margin-bottom: 10px;
}

.subtitle {
  text-align: center;
  opacity: 0.7;
  margin-bottom: 50px;
}

.category {
  margin-bottom: 70px;
  opacity: 0;
  transform: translateY(40px);
  transition: all 0.8s ease;
}

.category.show {
  opacity: 1;
  transform: translateY(0);
}

.category h2 {
  font-size: 22px;
  text-transform: uppercase;
  letter-spacing: 2px;
  border-bottom: 1px solid #444;
  padding-bottom: 10px;
  margin-bottom: 30px;
}

.items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
}


.item {
  background: rgba(255, 255, 255, 0.06);
  border-radius: 16px;
  padding: 20px;
  text-align: center;
  backdrop-filter: blur(6px);
}

.item-name {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 10px;
}
.section {
  margin-bottom: 60px;
}

.price {
  font-size: 18px;
  font-weight: 600;
  color: #d4af37;
}

/* Mobile */
@media (max-width: 768px) {
  .items {
    grid-template-columns: repeat(2, 1fr);
  }
}
